/* font-size css */

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-32 {
  font-size: 32px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-15 {
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

/* END */

/* Login page css */

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4e698f;
}

.login-page-main {
  background: url("../assets/images/Login-bg-img.png") no-repeat,
    linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  min-height: 100vh;
  display: block;
  width: 100%;
  background-size: 50% 100%;
  background-position: top left;
}

.login-section {
  width: 50%;
  margin-left: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-form-section {
  width: 100%;
  min-width: 475px;
  max-width: 475px;
  display: block;
  padding: 0px 30px;
}

.wel-txt {
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.wel-sub-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.reg-link-sec p {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #a6c2e9;
  text-align: center;
  margin-bottom: 0;
}

.reg-link-sec p a {
  color: #fff !important;
  font-weight: 600;
  margin-left: 4px;
  text-transform: capitalize;
}

.social-media-section {
  margin: 40px 0px;
  width: 100%;
  display: block;
}

.social-media-section h6 {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #a6c2e9;
  text-transform: capitalize;
  margin-bottom: 0;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  /* gap: 24px; */
}

.social-icon a {
  width: 50px;
  height: 50px;
  margin: 0px 12px;
}

.social-icon span {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../assets/images/Icons-login.png") no-repeat;
}

span.google-icon {
  background-position: -74px 0px;
}

span.ios-icon {
  background-position: -148px 0px;
}

span.insta-icon {
  background-position: -222px 0px;
}

.or-section {
  margin-top: 40px;
  width: 100%;
  display: block;
}

.or-section h6 {
  margin-bottom: 0px;
  position: relative;
}

.or-section h6 span {
  width: 40px;
  height: 40px;
  margin: auto;
  border: 1px solid #a6c2e9;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  display: block;
  z-index: 1;
  background: #152444;
  position: relative;
}

.or-section h6::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #a6c2e9;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.form-input-section {
  margin-top: 40px;
  display: block;
  width: 100%;
}

.form-input-section form label {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #a6c2e9;
  margin-bottom: 10px;
}

.email-section {
  margin-bottom: 40px;
}

.form-input-section input {
  background: #081a34;
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 8px 50px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  position: relative;
  height: auto;
}

.email-section input[type="email"]::before {
  content: "ssss";
  background: url("../assets/images/Email.svg");
  display: block;
  width: 20px;
  height: 20px;
}

.psd-eye {
  position: relative;
}

.psd-eye span.eye-icon {
  position: absolute;
  top: 10px;
  right: 16px;
  border: none;
  display: flex;
  background: none;
}

#pw-open {
  display: none;
}

.password-section a {
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #fff !important;
  text-align: right;
  width: 100%;
  display: block;
  margin-top: 23px;
}

.email-icon {
  position: relative;
}

.email-icon span {
  position: absolute;
  z-index: 1;
  top: 10px;
  display: flex;
  left: 13px;
}

.psd-eye span.psd-icon {
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 13px;
  display: flex;
}

.login-btn {
  margin-top: 40px;
}

.login-btn button {
  width: 100%;
  background: #c2285c;
  border-radius: 50px;
  padding: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.login-section::before {
  content: "";
  display: block;
  width: 40px;
  height: 100%;
  background: linear-gradient(90deg, #000000, transparent);
  position: absolute;
  left: 0;
  opacity: 0.3;
}

.fg-psd-link {
  position: absolute;
  width: auto;
  bottom: 0;
  margin-bottom: 50px;
  display: block;
  left: 0;
  right: 0;
}

.mbl-logo-sec {
  display: none;
}

/* END */

/* Verification-OTP css */

.ver-otp {
  display: flex;
  align-items: baseline;
  /* gap: 24px; */
  justify-content: center;
}

.ver-otp input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  color: #ffffff;
  padding: 0;

  margin: 0 12px;
  margin-bottom: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.otp-section {
  min-width: 600px;
  max-width: 600px;
}

.otp-section .ver-otp-inpt .login-btn {
  padding: 0px 50px;
}

.resend-sec {
  margin: 40px 0px;
  display: block;
  text-align: center;
  width: 100%;
}

.resend-sec p {
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 0;
}

.resend-sec p span {
  display: block;
  margin-top: 10px;
}

.resend-sec p span {
  display: block;
  margin-top: 10px;
  color: #a6c2e9;
}

a.arrow-left {
  position: absolute;
  top: 30px;
  left: 50px;
  transition: 0.5s;
}

a.arrow-left:hover {
  left: 45px;
}

/* END */

/* Register */
.Confirm-psd {
  margin-top: 40px;
}

.reg-mt {
  margin-top: 60px;
}

.check-box-section {
  display: block;
  position: relative;
  margin-top: 30px;
}

.check-box-section input#cus-box {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  cursor: pointer;
  position: absolute;
  line-height: 0;
  top: 4px;
  left: 3px;
  opacity: 0;
  z-index: 1;
}

.form-input-section .check-box-section label {
  margin-bottom: 0px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
}

.form-input-section .check-box-section label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #a6c2e9;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.check-box-section input#cus-box:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 11px;
  border: solid #a6c2e9;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-input-section .check-box-section label span {
  color: #fff;
  font-weight: 600;
  margin-left: 5px;
}

.res-pad-top {
  padding: 50px 0px;
  line-height: 38px;
}

.num-drp {
  width: 67px;
  height: 37px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  position: absolute;
  color: #fff;
  top: 2px;
  left: 41px;
  padding: 0 15px;
  background: url("../assets/images/arrow-down.svg") no-repeat #1b3254;
  background-position: 73% 46%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.num-drp p {
  margin-bottom: 0;
}

.mbl-num-sec input#phoneNumber {
  padding-left: 123px;
}

/* END */

/* my-profile */

.tab-list {
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  margin-top: 34px;
  /* height: calc(100vh - 198px); */
  flex-wrap: unset;
  padding-bottom: 80px;
}

.tab-navbar .nav-tab-btn {
  border-radius: 15px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  background: unset;
  display: flex;
  align-items: center;
  color: #a6c2e9;
  position: relative;
}

.tab-navbar .nav-tab-btn.active {
  background: #c2285c;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  color: #ffffff;
}

.tab-navbar .nav-tab-btn img {
  margin-right: 15px;
}

.tab-navbar h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-top: 34px;
}

.tab-heading {
  margin: 32px 0px;
}

.tab-content {
  padding-left: 32px;
}

.tab-navbar .nav-tab-btn span svg path {
  fill: #a6c2e9;
}

.tab-heading h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 0;
}

.terms-main {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  height: calc(100vh - 198px);
  overflow: hidden;
  padding-right: 0px;
}

.terms-con-txt h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.terms-con-txt p {
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  text-align: justify;
  color: #ffffff;
}

.terms-con-txt {
  margin-bottom: 32px;
}

.terms-main .terms-con-txt:last-child {
  margin-bottom: 0;
}

.scroll-sec {
  height: 100%;
  overflow-y: auto;
  padding-right: 12px;
  margin-right: 8px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 9px -17px 20px #e1e1ea;
  border-radius: 4px;
  border: 2px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaeaf2;
  border-radius: 4px;
}

.res-flex-wrap {
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

.arrow-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-align h1 {
  display: flex;
  align-items: center;
}

.arrow-align h1 img {
  margin-right: 30px;
}

.arrow-align h1 a {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}

.edit-btn button {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #081a34;
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  width: 155px;
  height: 40px;
  display: block;
}

.mbl-block {
  display: none;
}

.tab-navbar .nav-tab-btn span {
  color: #a6c2e9;
}

.profile-main {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}

.com-psd-inpt .first-column .password-section {
  margin-bottom: 20px;
}

.com-psd-inpt .login-btn button {
  width: auto;
  padding: 8px 22px;
}
.disabled {
  opacity: 0.5;
}

.edit-btn {
  display: flex;
  align-items: baseline;
}

.edit-btn .save-btn {
  background: #c2285c !important;
  border-radius: 50px;
  border: 1px solid #c2285c !important;
  margin-left: 20px;
}

.edit-mbl .num-drp {
  left: 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  background-position: 73% 50%;
}

.form-section textarea.edit-textarea {
  min-height: 180px;
  padding: 30px;
  display: none;
  resize: none;
}

.edit-mbl input#phoneNumber {
  padding-left: 75px;
}

.edit-select {
  display: none;
}

.edit-mbl {
  display: none;
}

.cpy-sec .copy-input img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.copy-input input {
  padding-right: 40px !important;
}

.copy-input {
  position: relative;
  display: none;
}

.edit-input-filed .edit-mbl {
  display: block;
}

.edit-input-filed .edit-input {
  display: block;
}

.edit-input-filed span.edit-text {
  display: none;
}

.edit-input-filed .edit-select {
  display: block;
}

.edit-input-filed .copy-input {
  display: block;
}

.edit-input-filed .cpy-sec span.edit-text {
  display: none;
}

.edit-input-filed .cpy-sec img {
  display: none;
}

.edit-input-filed .cpy-sec .copy-input img {
  display: block;
}

.edit-btn-none {
  display: none;
}

.edit-input-filed .edit-btn.edit-btn-none {
  display: flex;
}

.edit-input-filed .edit-btn {
  display: none;
}

.edit-input {
  display: none;
}

.edit-input-filed .form-section textarea.edit-textarea {
  display: block;
}
.profile-banner {
  height: 267px;
  /* background: #FFFFFF; */
  border-radius: 15px;
  overflow: hidden;
}
.profile_img_main {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1.5px solid #a6c2e9;
  margin-top: -70px;
  margin-left: 20px;
  z-index: 99;
  position: relative;
}
.profile_img_main .drop-zone .drop-zone__thumb {
  border-radius: 50%;
}
.profile_img_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 50%;
}
span.pencil_icon {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 55;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 5px;
  width: 40px;
  height: 40px;
}
.profile_img_main .drop-zone span {
  width: 30px;
  height: 30px;
  /* padding: 4px; */
  border-radius: 50%;
  display: flex;
  right: 5px;
  bottom: 5px;
}

.sub-content {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.sub-content h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}

.sub-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #a6c2e9;
}

.plan-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.plan-details {
  padding: 30px 23px;
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 15px;
  width: 190px;
  text-align: center;
  position: relative;
  margin: 50px 0px;
}

.profile_img_main .drop-zone {
  border-radius: 50%;
}
.drop-zone {
  position: relative;
}
.profile-banner_section {
  padding-bottom: 32px;
}

.plan-img {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.plan-img img {
  margin: auto;
  display: block;
  margin-top: -63px;
}

.plan-details h3 {
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 45px;
}

.plan-details h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}

.plan-details p {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #a6c2e9;
  margin-top: 35px;
}

.select-btn {
  background: #081a34;
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  width: 113px;
  height: 40px;
  margin-bottom: 30px;
}

.active-bottom {
  background: #a6c2e9;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0px;
  display: none;
}

.active-bottom span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #13233c;
  padding: 10px 0px;
  display: block;
}

.plan-active .select-btn {
  display: none;
}

.plan-active .active-bottom {
  display: block;
}

.tab-navbar .nav-tab-btn img.active-none {
  display: none;
}

.tab-navbar .nav-tab-btn.active img {
  display: none;
}

.tab-navbar .nav-tab-btn.active img.active-none {
  display: block;
}

.tab-navbar .nav-tab-btn.active span {
  color: #fff;
}

.profilr-avater {
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.avatar-detalis {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-detalis img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  object-fit: contain;
  object-position: center;
}

.avater-btn button {
  border: 1px solid #a6c2e9 !important;
  border-radius: 50px;
  background: #081a34;
  height: 40px;
  padding: 0px 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #a6c2e9;
}

.avater-text h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
}

.avater-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #a6c2e9;
  margin-bottom: 0;
}

.first-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  column-gap: 32px;
}

.form-section label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #a6c2e9;
  padding-bottom: 10px;
  width: 100%;
  display: block;
}

.form-section input {
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 0px 15px 0 15px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  color: #ffffff;
  position: relative;
  height: 40px;
  background-color: #081a34;
}

.profile-inform .first-column {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 20px 0px;
}

.form-section {
  margin-bottom: 25px;
}

.fav-colunm.first-column {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.fav-list-card {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
}

.fav-list-card > img {
  width: 126px;
  height: 110px;
  object-fit: contain;
  object-position: center;
}

.artists-detalis {
  width: 100%;
  position: relative;
}

img.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.artists-detalis span {
  background: #a6c2e9;
  border-radius: 3px;
  width: 53px;
  height: 27px;
  display: block;
  text-align: center;
  line-height: 27px;
  color: #081a34;
}

.artists-detalis h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding-right: 30px;
}

.per-sec {
  width: 50%;
}

.plan-sub-sec {
  /* width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

button.subscribe-btn {
  background: #c2285c;
  border-radius: 50px;
  height: 40px;
  padding: 0px 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.plan-sub-sec h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 0;
}

.plan-sub-sec h6 span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #a6c2e9;
}

.plan-sub-sec h6 .span-dis {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #a6c2e9;
  margin: 10px 0px;
}

.plan-sub-sec.paln-dis-none h6 {
  text-align: center;
}

.Cancel-btn {
  background: #081a34;
  border: 1px solid #a6c2e9 !important;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  height: 40px;
  padding: 0px 22px;
}

.paln-dis-none {
  display: none;
}

.tab-heading {
  padding: 32px 0px;
  margin: 0px;
}

.go-main {
  height: calc(100vh - 126px);
}

.profile-icon-flex .form-section {
  display: flex;
  align-items: flex-start;
}

.label-sec {
  margin-left: 15px;
  width: 100%;
}

.profile-icon-flex .tab-heading {
  padding-top: 0px;
}

ul.nav_list li a {
  color: #a6c2e9 !important;
}
/* END */

/* Contact */

.con-left-sec {
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}

.contact-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.contact-text p {
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 0px;
}

.contact-text {
  padding-bottom: 24px;
  border-bottom: 1px solid #1d2e46;
}

.con-text-area textarea {
  background: #081a34;
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  width: 100%;
  min-height: 276px;
  resize: none;
  padding: 20px;
}

.con-form-btn {
  margin-top: 30px;
}

.con-form-btn button {
  width: 158px;
  margin-left: auto;
  display: block;
}

.more-options-sec {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
}

.second-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px 0px;
}

.calls-sec {
  display: flex;
  align-items: flex-start;
}

.calls-sec h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #a6c2e9;
  margin-bottom: 0px;
  margin-left: 10px;
}

.calls-sec h6 span {
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
  display: block;
  margin-top: 8px;
}

.map-section {
  margin-top: 30px;
}

.map-section iframe {
  border-radius: 15px;
}

.con-right-sec {
  margin-bottom: 30px;
}

/* END */

/*==============================================
Default css start
================================================*/
* {
  font-family: "Mont";
  font-style: normal;
  box-sizing: border-box;
  color: #ffffff;
}
img,
svg {
  vertical-align: unset !important;
}
button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
  border: unset;
}
.custom_container {
  padding: 0 60px;
}
section,
header {
  width: 100%;
  float: left;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: unset !important;
  color: unset !important;
}

/*==============================================
Default css end
================================================*/
/*==============================================
common css start
================================================*/
.sub_header {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}
.re_btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c2285c;
  border-radius: 50px;
  /* padding: 8px 16px; */
  padding: unset;
}
.inner_main_section {
  background: linear-gradient(90.26deg, #172c4a 0.04%, #111d33 100%);
  float: left;
  width: 100%;
  /* display: flex; */
}

/* radio  */
input[type="radio"] + label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #a6c2e9;
}
input[type="radio"] + label::before {
  content: "";
  background: url(../assets/images/radioUnCheck.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label::before {
  background: url(../assets/images/radioCheck.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* checkbox  */

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}
input[type="checkbox"] + label::before {
  content: "";
  background: url(../assets/images/checkBoxUnCheck.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label::before {
  background: url(../assets/images/checkBoxCheck.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
/*==============================================
common css end
================================================*/

/*==============================================
header css start
================================================*/
header {
  position: sticky;
  top: 0;
  z-index: 333;
  width: 100%;
  position: -webkit-sticky;
}
.header_section {
  background: #1b3558;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: stretch;
}

ul.nav_list {
  display: grid;
  gap: clamp(10px, 1vw, 28px);
  grid-auto-flow: column;
  place-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #a6c2e9;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  transition: 1s all;
  z-index: 999;
}
.header_profile {
  display: grid;
  place-content: center;
  gap: 10px;
  align-items: center;
  grid-auto-flow: column;
}

.header_profile_section {
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  align-items: center;
  gap: 32px;
}

.header_profile_name p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #a6c2e9;
  margin: 0;
}

.header_profile_name h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  max-width: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header_profile_img {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  overflow: hidden;
  border: 1px solid #a6c2e9;
  border-radius: 50%;
}

.header_profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header_logo {
  width: 75px;
  height: 54px;
}
.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
}
.header_logo_section {
  /* width: 400px; */
  display: flex;
  align-items: center;
}
ul.nav_list li:after {
  content: "";
  width: 100%;
  height: 0%;
  background: linear-gradient(
    0deg,
    rgba(166, 194, 233, 0.18) 0%,
    rgba(166, 194, 233, 0) 100%
  );
  right: 0;
  position: absolute;
  display: block;
  bottom: 0%;
  transition: 0.5s all;
  pointer-events: none;
}

ul.nav_list li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
}
ul.nav_list li::before {
  content: "";
  width: 100%;
  height: 0px;
  background: #a6c2e9;
  right: 0;
  position: absolute;
  display: block;
  bottom: -3px;
  transition: 0.2s all;
  pointer-events: none;
}
ul.nav_list li:hover::before {
  height: 3px;
  bottom: 0;
}
ul.nav_list li:hover::after {
  height: 100%;
  bottom: 0;
}

ul.nav_list li.active::before {
  height: 3px;
  bottom: 0;
}
.header_icon_section {
  display: flex;
  align-items: center;
}
.notfication_icon:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 1px;
  background: #c2285c;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #1b3558;
}
.fav_icon {
  margin: 0px 15px;
}

.notfication_icon {
  position: relative;
}
/* Hamburger  */
.menu_icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.nav-icon {
  margin: auto 0px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  box-shadow: -1px 0px 5px 0px #d18585;
}
.nav-icon span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon span:nth-child(2) {
  top: 50%;
  left: 0px;
}
.nav-icon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon.open span:nth-child(1) {
  transform: rotate(45deg) scaleX(0.7);
  top: 13px;
  left: -8px;
}
.nav-icon.open span:nth-child(2) {
  transform: scale(0);
  transition-duration: 50ms;
}
.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg) scaleX(0.7);
  top: 13px;
  left: 7px;
}
.nav-icon {
  display: none;
}

/*==============================================
home banner css start
================================================*/
.home_banner {
  height: 325px;
  z-index: 0;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: relative;
}
.home_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  position: absolute;
  z-index: -1;
}
.navgatePage {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 30px !important;
  padding-bottom: 30px I !important ;
  position: fixed;
  top: 75px;
  width: 100%;
  z-index: 1;
}

.navgatePage img {
  margin-right: 10px;
  width: 32px;
}

/*==============================================
home banner css end
================================================*/
/*==============================================
home mainsection css end
================================================*/
.social_icon span {
  width: 30px;
  height: 25px;
  display: inline-block;
  background: url(../assets/images/social-Icon_profile.svg) no-repeat;
  margin-right: 20px;
  background-position-y: 0px;
}
.instagram {
  background-position-x: -55px !important;
}
.itnes {
  background-position-x: -102px !important;
}
.youtube {
  background-position-x: -161px !important;
}
.world {
  background-position-x: -212px !important;
}
.profile_card {
  width: 425px;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 40px;
  float: left;
  position: sticky;
  top: 161px;
  margin-top: -200px;
  z-index: 99;
}
button.gray_btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  width: 100%;
  height: 40px;
}

.profile_img_section {
  text-align: center;
}
img.profile_img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}
.profile_img_section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.profile_img_section p {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #a6c2e9;
  margin: 0;
}
.profilr_part_section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.profilr_part_section {
  margin-top: 30px;
}
.section_profile {
  float: left;
  width: fit-content;
  display: block;
  position: relative;
}

/* tap section  */

.event_list_section .nav {
  width: fit-content;
  margin: 0px auto;
  background: #4e6383;
  border-radius: 100px;
}

.event_list_section .nav-pills .nav-link.active {
  width: 224px;
  background: #a6c2e9;
  color: #0f192c;
}

.event_list_section .nav-pills .nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 224px;
  color: #ffff;
  border-radius: 100px;
}
.event_list_section {
  width: calc(100% - 425px);
  float: left;
  padding: 0 0px 0 30px;
}
.event_list_section_tab {
  position: -webkit-sticky;
  position: sticky;
  top: 74px;
  padding: 30px 0;
  z-index: 99;
  background: linear-gradient(154deg, #172c4a 0.04%, #111d33 100%);
}

/* single card  */
.event_card {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.event_card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  inset: 0;
  z-index: -1;
  transition: 1s all;
}

.event_card {
  display: flex;
  z-index: 4;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  aspect-ratio: 1.7;
  min-height: 150px;
}

.event_card_bottom {
  display: flex;
  justify-content: space-between;
}

.today_btn button {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 16px;
  background: #ffebeb;
  border-radius: 100px;
  color: #af0000;
  display: flex;
  text-transform: uppercase;
}
.today_btn button:before {
  width: 6px;
  height: 6px;
  background: #af0000;
  border-radius: 50%;
  content: "";
  align-self: center;
  display: inline-block;
  margin-right: 4px;
}
.event_card_bottom_right button {
  background: #c2285c;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 30px;
}

.event_card_bottom_left h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.event_card_bottom_left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.event_card_bottom_right {
  transition: 1s all;
  transform: translateY(100px);
}
.event_card:hover .event_card_bottom_right {
  transform: translateY(0px);
}
.event_card:hover img {
  scale: 1.1;
}
/*==============================================
home mainsection css end
================================================*/

/*==============================================
events page css start
================================================*/

.navgat_otherpage {
  display: flex;
  align-items: center;
  padding: 34px 0;
  /* padding: clamp( 15px , 3vw , 34px ) 0; */
  position: sticky;
  top: 74px;
  z-index: 9;
  flex-wrap: wrap;
  background: linear-gradient(90.26deg, #172c4a 0.04%, #111d33 100%);
}
.main_section {
  background: linear-gradient(90.26deg, #172c4a 0.04%, #111d33 100%);
  float: left;
  width: 100%;
  padding-bottom: 130px;
}
.custom_container {
  padding: 0 60px;
}
.navgat_otherpage .task_titlt {
  font-weight: 700;
  font-size: clamp(16px, 5vw, 28px);
  line-height: 128%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}
.event_tabe_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  place-items: center;
}
.event_tabe_section > a {
  display: block;
  width: 100%;
}
.event_card {
  display: flex;
  z-index: 4;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  aspect-ratio: 1.7;
  min-height: 150px;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  margin: auto;
  border: 1px solid #a6c2e9;
  border-radius: 20px;
}
.event_card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  inset: 0;
  z-index: -1;
  transition: 1s all;
  top: 0;
  bottom: 0;
  right: 0;
}
.event_card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event_card_bottom_left h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.event_card_bottom_left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.event_card_bottom_right {
  transition: 1s all;
  transform: translateY(100px);
}
.event_card_bottom_right button {
  background: #c2285c;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #c2285c;
  border-radius: 50px;
  color: #fff;
  border-color: #c2285c;
  border: unset;
  height: 40px;
  padding: 5px 48px;
  padding: 5px clamp(20px, 2vw, 48px);
  white-space: nowrap;
}
.navgatePage.my_event {
  z-index: 100;
  width: fit-content;
}

/*==============================================
events page css start
================================================*/

/*==============================================
footer mainsection css start
================================================*/

.footer {
  background: #001c44;
}
.footer_newsletter {
  background: #a6c2e9;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding: clamp(10px, 2vw, 30px);
  gap: 20px;
  max-width: 1350px;
  width: 80%;
  margin: auto;
  transform: translate(0px, -60px);
}
@media screen and (max-width: 1025px) {
  .footer_newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer_newsletter_right {
  display: flex;
  align-items: center;
  /* gap: 30px; */
  /* gap: clamp(10px, 2vw, 30px); */
}
.footer_newsletter_right .footer_newsletter_right_icon {
  margin: 0px 30px 0 0;
}
.footer_newsletter_right_text h1 {
  font-weight: 700;
  font-size: 28px;
  font-size: clamp(18px, 2vw, 28px);
  line-height: 128%;
  color: #081a34;
  margin-bottom: 7px;
}
.footer_newsletter_right_text p {
  font-weight: 500;
  font-size: 18px;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 127%;
  color: #2b3d59;
  /* background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* text-fill-color: transparent; */
  /* opacity: 0.9; */
}
.footer_newsletter_form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer_newsletter_form {
    flex-direction: column;
  }
}
.footer_newsletter_form_input {
  position: relative;
  margin-right: 10px;
}
.footer_newsletter_form_input span {
  position: absolute;
  left: 13px;
  top: calc(50% - 11px);
}
.footer_newsletter_form_input input {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
  border: 1px solid #5595ed;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  height: auto;
  width: 350px;
  padding-left: 40px;
  width: clamp(200px, 24vw, 350px);
  line-height: normal;
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer_newsletter_form button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #c2285c;
  border-radius: 50px;
  color: #fff;
  border-color: #c2285c;
  border: unset;
  height: 40px;
  padding: 5px 48px;
  padding: 5px clamp(20px, 2vw, 48px);
}
.footer_logo {
  text-align: center;
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
  margin: 0 0 40px 0;
}
.footer_manu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* gap: 30px; */
  /* gap: clamp(20px, 2vw, 30px); */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer_manu li {
  padding: 0px 15px;
}
@media screen and (max-width: 480px) {
  .footer_manu {
    flex-direction: column;
  }
}
.footer_manu li a {
  text-decoration: unset;
}
.footer_social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 30px; */
  /* gap: clamp(20px, 3vw, 30px); */
  margin: 30px 0;
  margin: clamp(20px, 3vw, 30px) 0;
}
.footer_social_icon span {
  width: 41px;
  height: 41px;
  display: block;
  background: url(../assets/images/social-Icons.svg) no-repeat;
  background-size: 217px 43px;
  margin: 0px 10px;
}
.footer_social_icon span:nth-child(1) {
  background-position: calc(-59px * (1 - 1)) 0px;
}
.footer_social_icon span:nth-child(2) {
  background-position: calc(-59px * (2 - 1)) 0px;
}
.footer_social_icon span:nth-child(3) {
  background-position: calc(-59px * (3 - 1)) 0px;
}
.footer_social_icon span:nth-child(4) {
  background-position: calc(-59px * (4 - 1)) 0px;
}
.footer_policy p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  border-top: 2px solid #16345e;
  padding: 24px 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

/*==============================================
footer mainsection css end
================================================*/
/*==============================================
popup mainsection css end
================================================*/
.notification_header {
  background: #a6c2e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.notification_header h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #081a34;
  margin: 0;
}

.notification_header p {
  margin: 0;
  color: #081a34;
  opacity: 1;
}

.list_notification {
  padding: 20px;
}
.modal.right .modal-content {
  background: linear-gradient(113.86deg, #1b3558 0.89%, #0f192c 100%);
}

.day_list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: sticky;
  top: 59px;
  background: linear-gradient(158deg, #1b3558 29.89%, #0f192c 125%);
}

.day_list h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.day_list p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #a6c2e9;
  margin: 0;
}

.img_noti {
  width: 45px;
  min-width: 45px;
  height: 45px;
  background: azure;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.notification_text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 3px;
}
.list_notification_innre {
  display: flex;
  align-items: self-start;
  padding: 20px 0px;
  border-bottom: 1px solid #2b3d59;
}
.notification_text p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #a6c2e9;
  margin: 0;
}
.list_notification_innre.not_open:after {
  width: 8px;
  min-width: 8px;
  height: 8px;
  background: #a6c2e9;
  display: block;
  content: "";
  border-radius: 50%;
  margin: 6px 0 0 6px;
}

.seach_field input {
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
  width: 100%;
  padding: 9px 9px 9px 50px;
}
.seach_field {
  position: relative;
  margin: 10px 0;
}
.seach_field span {
  position: absolute;
  z-index: 4;
  top: 10px;
  left: 20px;
}
.radio_section_header {
  display: grid;
  grid-auto-flow: column;
  padding: 20px 0;
  border-bottom: 1px solid #2b3d59;
  margin-bottom: 10px;
}
.Rating_star {
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
  padding: 3px 8px;
  color: #a6c2e9;
  margin: 0;
  max-width: 62px;
  text-align: center;
}

.Rating_star_section {
  display: grid;
  grid-auto-flow: column;
  gap: 7px;
  padding: 0 0 20px 0;
}
.checkBox_sction {
  padding: 20px 0;
}
.bottom_section_rating label {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #a6c2e9;
}
.gender_lisr {
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  color: #a6c2e9;
  padding: 10px 18px;
  width: fit-content;
  margin: 0 12px 12px 0;
}
.gender_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 12px; */
}
.button_section {
  padding: 30px 0;
}
.clear_navgat {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline !important;
  text-transform: uppercase !important;
  color: #a6c2e9 !important;
  text-align: center;
  display: block;
}
/*==============================================
popup mainsection css end
================================================*/

/* Fan book events */

.imgsection {
  /* background: #081A34; */
  border-radius: 15px;
  aspect-ratio: 2/1;
  overflow: hidden;
  position: relative;
  min-height: 200px;
  width: 100%;
}

.imgsection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.event_bg.fan-booked .imgsection {
  min-height: auto;
  width: 100%;
}

.fan-event-detalis {
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
}

.user-text {
  background: #1b3558;
  border-radius: 10px;
  padding: 10px;
}

.user-img img {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  object-fit: cover;
}

.user-img {
  display: flex;
  align-items: center;
}

.user-name h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.user-name p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #d1d7de;
  margin-bottom: 0;
}

.user-name {
  width: 100%;
  margin-left: 15px;
}

.right-tree {
  display: block;
  width: 100%;
  margin: 30px 0px;
}

.right-tree h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
}

.time-date {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.label-del {
  width: 100%;
  margin-left: 15px;
}

.fan-about-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.fan-about-text span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #a6c2e9;
}

.fan-about-text p {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin-top: 15px;
}

.fan-booked {
  margin-bottom: 20px;
}

.right-tree .first-column {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.view-sec .user-name {
  width: auto;
}

.view-btn {
  margin-left: auto;
  display: block;
  width: 158px;
}

.view-btn button {
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
  width: 100%;
  padding: 8px 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  transition: all 0.6s;
}

.join-event {
  display: flex;
  align-items: center;
  width: 100%;
}

.join-event a button {
  background: #c2285c;
  border-radius: 50px;
  width: 100%;
  padding: 9px 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.join-event .join-btn {
  width: 169px;
  display: block;
  margin-right: 15px;
}

.fan-about-text .join-event a {
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #a6c2e9 !important;
  cursor: pointer;
}

.view-btn button:hover {
  background: #c2285c;
  border: #c2285c;
}

.fan-about-text .join-event a img {
  margin-right: 10px;
}

/* end */

input[type="date"]::before {
  color: #4e698f;

  content: attr(placeholder);
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
input[type="date"] {
  position: relative;
}
/* input[type="date"]::after{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../assets/images/datepicker.svg) no-repeat center,#041B10;
    position: absolute;
    right: 24px;
    pointer-events: none;
  
  } */
input[type="date"]:not(:valid) {
  color: transparent;
}

input[type="date"]:valid::before {
  content: "";
}
input[type="date"]:not(:valid):-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* go to live  */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.imgsection video {
  width: 100%;
  height: 100%;
}
.live_fans {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding: clamp(15px, 3vw, 30px);
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  align-items: center;
}

.live_fans_left p {
  font-weight: 500;
  /* font-size: 18px; */
  line-height: 23px;
  margin-bottom: 10px;
}

.live_fans_left h2 {
  font-weight: 600;
  font-size: 36px;
  font-size: clamp(25px, 3vw, 36px);
  line-height: 127%;
  margin-bottom: 0;
}

.card_live {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  gap: clamp(10px, 3vw, 30px);
  margin: 30px 0 0;
  margin: clamp(10px, 3vw, 30px) 0 0;
}

/* slider live  */

.range-slider {
  display: inline-block;
  width: 18px;
  position: relative;
  text-align: center;
  height: 100%;
  max-height: 100%;
}

.range-slider:before {
  position: absolute;
  top: -2em;
  left: 4px;
  content: attr(data-slider-value);
  color: white;
  font-size: 18;
}

.range-slider__thumb {
  position: absolute;
  left: 0px;
  width: 18px;
  height: 30px;
  line-height: 30px;
  background: white;
  color: #bb1010;
  font-size: 50%;
  /* box-shadow: 0 0 0 4px #3d3d4a; */
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

.range-slider__bar {
  left: 0px;
  bottom: 0;
  position: absolute;
  background: linear-gradient(#a6c2e9 30%, #4774b1 70.31%);
  pointer-events: none;
  width: 18px;
  border-radius: 20px;
}

.range-slider input[type="range"][orient="vertical"] {
  position: relative;
  margin: 0;
  height: 100%;
  width: 18px;
  display: inline-block;
  position: relative;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}

.range-slider
  input[type="range"][orient="vertical"]::-webkit-slider-runnable-track,
.range-slider input[type="range"][orient="vertical"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range-slider
  input[type="range"][orient="vertical"]::-webkit-slider-runnable-track {
  border: none;
  background: #1d304c;
  width: 18px;
  height: 20px;
  border-color: #1d304c;
  border-radius: 10px;
  box-shadow: 0 0 0 px #1d304c;
  background-repeat: repeat;
  background-position: center;
}
.range-slider input::before {
  content: "" !important;
  display: block;
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/Group\ 3239.png);
  z-index: 5;
  background-size: 100% 100%;
}

.range-slider input[type="range"][orient="vertical"]::-moz-range-track {
  border: none;
  background: #1d304c;
  width: 18px;
  height: 20px;
  border-color: #1d304c;
  border-radius: 10px;
  box-shadow: 0 0 0 px #1d304c;
  background-image: url(../assets/images/Group\ 3239.png);
  background-position: center;
  background-repeat: repeat;
}

.range-slider input[type="range"][orient="vertical"]::-ms-track {
  border: none;
  background: #1d304c;
  width: 18px;
  height: 20px;
  border-color: #1d304c;
  border-radius: 10px;
  box-shadow: 0 0 0 0px #1d304c;
  color: transparent;
  height: 100%;
  background-image: url(../assets/images/Group\ 3239.png);
  background-repeat: repeat;
  background-position: center;
}

.range-slider input[type="range"][orient="vertical"]::-ms-fill-lower,
.range-slider input[type="range"][orient="vertical"]::-ms-fill-upper,
.range-slider input[type="range"][orient="vertical"]::-ms-tooltip {
  display: none;
}

.range-slider input[type="range"][orient="vertical"]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}

.range-slider input[type="range"][orient="vertical"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}

.range-slider input[type="range"][orient="vertical"]::-ms-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}
.slider_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.main_live {
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

.emog_section {
  margin-top: 5px;
  width: 100%;
  max-width: 80px;
}

.emog_section img {
  width: 100%;
}

/* slider live  */

.button_gorup {
  margin-left: auto;
}

.button_gorup button:last-child {
  background: #c2285c;
  border-color: #c2285c;
}

.button_gorup button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 9px 24px;
  min-width: 104px;
  margin-right: 20px;
}

.event_formsection {
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  padding: clamp(15px, 3vw, 30px);
}

.live-view {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 153px;
  height: 48px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.264) 100%
  );
  backdrop-filter: blur(3px);
  border-radius: 23px;
  padding: 0px 10px;
}

.user-img .live-view img {
  width: 20px;
  height: 20px;
}

.user-img .live-view span {
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  color: #ffffff;
  margin: 0px 15px;
}

.user-img .live-view a {
  background: #d5344f;
  border-radius: 50px;
  margin-bottom: 0;
  width: 61px;
  height: 33px;
  line-height: 33px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.live-bar-heignt {
  height: 600px;
}

.height-calc {
  height: calc(100% - 114px);
}

.live-bar-heignt .user-text {
  margin-bottom: 30px;
}

.live-bar-heignt .main_live {
  padding-top: 80px;
  position: relative;
}

.live-bar-heignt .main_live .pos-icon {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  margin: 0;
}

.onload-pop .modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 40%;
  transform: translate(0px, -50px) !important;
}

.onload-pop .modal-content {
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.onload-pop .top-pos {
  position: absolute;
  top: 20px;
  opacity: 1;
  right: 20px;
}

.onload-pop .modal-header {
  display: block;
  text-align: center;
  padding: 20px 0px;
}

.onload-pop .modal-header h5 {
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #c2285c;
}

.onload-pop .modal-header {
  display: block;
  text-align: center;
  padding: 20px 0px;
  border-bottom: none;
}

.onload-pop .modal-body {
  padding: 0px 20px;
  text-align: center;
}

.onload-pop .modal-body p {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #081a34;
}

.onload-pop .modal-body span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #081a34;
  margin: 20px 0px;
  display: block;
}

.onload-pop .modal-footer {
  border-top: none;
  justify-content: center;
}

.skip-bth {
  width: 156px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #081a34;
}

.go-btn {
  background: #c2285c;
  border-radius: 50px;
  width: 156px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff !important;
}

.rating-pop-up .modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 40%;
  transform: translate(0px, -150px) !important;
}

.rating-pop-up .top-pos {
  position: absolute;
  top: 20px;
  opacity: 1;
  right: 20px;
}

.rating-pop-up .modal-header {
  display: block;
  padding: 20px 0px;
  border-bottom: none;
}

.rating-sec {
  display: flex;
  background: #f7f7f9;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  margin: 15px 0px;
}

.rating-pop-up .modal-content {
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.rating-pop-up .modal-header h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #081a34;
}

.rating-pop-up h4 {
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #081a34;
}

.rating-pop-up .modal-footer {
  border-top: none;
  justify-content: flex-start;
}

.rating-sec label {
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
}

.rating-sec label span {
  width: 100%;
  display: block;
}

.rating-sec input {
  left: -999999px;
  position: absolute;
}

.rating-sec label:hover span svg path {
  fill: #fbdb4a;
}

label.star-label span svg path {
  fill: #fbdb4a;
}

.rat-content {
  background: #ffffff;
  border: 1px solid #aeaeae;
  border-radius: 20px;
  padding: 10px;
}

.rat-content p {
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #081a34;
  margin-bottom: 0;
  text-align: left;
}

.rating-pop-up .modal-body {
  padding: 0px 0px;
}

.rat-con-btn {
  background: #e5edf9;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #081a34;
}

.rat-con-btn.last-btn {
  width: 151px;
}

.rat-btn-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* END */

/* Event-detail-cancel */

.join-btn.can-book-btn button {
  background: #081a34;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
}

a.font-16.join-btn.can-book-btn {
  width: 196px;
}

.can-book-pop-up .modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 40%;
  transform: translate(0px, -150px) !important;
}

.can-book-pop-up .top-pos {
  position: absolute;
  top: 20px;
  opacity: 1;
  right: 20px;
}

.can-book-pop-up .modal-content {
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.can-book-pop-up .modal-header {
  display: block;
  padding: 20px 0px;
  border-bottom: none;
  text-align: center;
}

.can-book-pop-up .modal-header h5 {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #081a34;
}

.can-book-pop-up .modal-footer {
  border-top: none;
  justify-content: space-between;
  padding: 0px;
}

/* END */

/* / homepage  / */

.font-40 {
  font-size: 40px;
  line-height: 79px;
}
.font-22 {
  font-size: 22px;
  line-height: 28px;
}
.home-banner {
  height: 300px;
  position: relative;
}
.home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-fav {
  position: absolute;
  top: 112px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-fav p {
  text-align: center;
  margin-bottom: 0;
  padding: 0px 10px;
  font-weight: 700;
}
.fav-artis-wrap-inner {
  text-align: center;
}
.fav-ar-img {
  width: 151px;
  height: 151px;
  padding: 9px;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.48);
  border-radius: 15px;
  margin: auto;
}
.fav-ar-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fav-artis-wrap-inner h3 {
  padding-top: 10px;
  margin-bottom: 0;
  font-weight: 600;
}
.fav-artis-wrap-inner p {
  margin-bottom: 0;
  color: #a6c2e9;
  font-weight: 600;
}
.fav-arti ul.slick-dots {
  display: none !important;
}
button.slick-prev,
button.slick-next {
  position: absolute;
  top: 60px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
}
button.slick-prev {
  left: -5px;
}
button.slick-next {
  right: -10px;
}
button.slick-prev::before,
button.slick-next::before {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-size: contain !important;
}
button.slick-prev::before {
  background: url("../assets/images/fav-prev.png") no-repeat;
}
button.slick-next::before {
  background: url("../assets/images/fav-next.png") no-repeat;
}
button.slick-prev:focus,
button.slick-next:focus {
  box-shadow: none;
}

.event-inner {
  padding: 0px 12px;
  position: relative;
  -webkit-transform: skew(16deg);
  display: inline-block;
  line-height: normal;
}
.event-wrapper {
  width: auto;
  height: auto;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  display: inline-block;
  background: #b02b5b;
  line-height: normal;
}
.fav-head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
.fav-head-wrapper h3 {
  font-weight: 700;
  margin-bottom: 0;
}
.fav-head-wrapper button.btn {
  color: #a6c2e9;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}
.fav-arti {
  display: block;
  float: left;
  width: 100%;
  margin-top: -80px;
  z-index: 99;
  position: relative;
}
.fav-head-wrapper button.btn:focus {
  box-shadow: none;
  border: 0;
}
.fav-events .fav-head-wrapper {
  padding-bottom: 20px;
}
.fav-events {
  display: block;
  float: left;
  width: 100%;
  margin-top: 40px;
}
/* / events  / */

.filter-doted {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid #a6c2e9;
  border-radius: 50px;
}
.filter-doted span {
  margin: 0px 5px 0 14px;
}
.filter-doted div {
  width: 32px;
  height: 32px;
}
.filter-doted div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fav-ar-img:hover {
  border: 1px solid #78affa;
  box-shadow: 0px 4px 14px rgba(4, 85, 201, 0.8);
}

/* / change css  / */
.event-search-result .navgat_otherpage {
  display: flex;
  align-items: center;
  padding: 34px 0;
  position: sticky;
  top: 74px;
  z-index: 9;
  flex-wrap: unset;
  justify-content: space-between;
  background: linear-gradient(90.26deg, #172c4a 0.04%, #111d33 100%);
}
.event-search-result .navgat_otherpage .task_titlt {
  font-weight: 600;
  font-size: clamp(16px, 5vw, 28px);
  line-height: 128%;
  margin: 0;
  display: block;
  color: #a6c2e9;
  margin-right: 10px;
}
.navgatePage.my_event {
  font-weight: 700;
  position: absolute;
  top: 0;
  padding-left: 0;
}
/*  my events   */
.event-card-date {
  display: flex;
}
.event-card-date p {
  padding-right: 15px;
}

.event_tabe_section.pastevent-tab .event_card_bottom_right {
  transform: translateY(0px);
}
.event_tabe_section.pastevent-tab .event_card_bottom_right button {
  padding: 11px 22px;
}
.event_tabe_section.pastevent-tab .event_card_bottom_left {
  margin-right: 10px;
}
button.reviwed_btn {
  background: #081a34;
  border: 1px solid #a6c2e9;
  color: #a6c2e9;
}

/*  */

/*==============================================
home follower css start
================================================*/
.navgat_otherpage {
  display: flex;
  align-items: center;
  padding: 32px 0;
  padding: clamp(15px, 3vw, 38px) 0;
  position: sticky;
  top: 74px;
  z-index: 9;
  flex-wrap: wrap;
  background: linear-gradient(90.26deg, #172c4a 0.04%, #111d33 100%);
}
.navgat_otherpage .task_titlt {
  font-weight: 700;
  font-size: clamp(16px, 5vw, 28px);
  line-height: 128%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}
/* .navgat_otherpage .task_titlt span{
        line-height: 0;
        display: block;
    } */
.followers_section_card {
  position: relative;
  aspect-ratio: 1;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  z-index: 4;
  max-width: 500px;
  border: 1px solid #a6c2e9;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  overflow: hidden;
  min-height: 256px;
  width: 100%;
}
.followers_section_card img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}
.followers_name {
  font-weight: 600;
  font-size: 18px;
  z-index: 6;
  line-height: 23px;
  position: relative;
}
.followers_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  gap: 30px;
}

.artis-follower .followers_section_card.bg_layout {
  flex-direction: column;
  justify-content: flex-end;
}

.artis-follower h4.followers_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artis-follower .followers_name button {
  font-weight: 600;
  line-height: 10px;
  color: #081a34;
  background: #a6c2e9;
  border-radius: 3px;
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artis-follower span {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #a6c2e9;
}

.artis-follower .followers_name button img {
  width: 12px;
  position: unset;
  height: 12px;
  z-index: unset;
  margin-left: 5px;
}

.follow-heart {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  right: 10px;
}

img.img-inactive {
  display: none;
}

.follow-heart:hover img.img-inactive {
  display: block;
}

.follow-heart:hover img.img-active {
  display: none;
}

/* END */

/* / tab content css  / */
.edit-input-filed .edit-select {
  border: 1px solid #a6c2e9 !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 0px 15px 0 15px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  color: #ffffff;
  position: relative;
  height: 40px;
  background-color: #081a34;
}
.edit-gotoinput .plan-sub-sec {
  display: none;
}
.edit-gotoinput .plan-sub-sec.paln-dis-none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-profile-head {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.edit-profile-arrow {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: block;
}
.edit-profile-arrow img {
  width: 100%;
  height: 100%;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  max-width: 90%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -400px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.flex-just {
  justify-content: space-between;
}

/*  */

/* new 13/04/2023   */
.list_notification .re_btn a {
  width: 100%;
  display: block;
  padding: 8px 16px;
}
ul.nav_list li.active::after {
  height: 100%;
  bottom: 0;
}

/* new 14/04  */
.artistsearchtitle {
  color: #a6c2e9;
  font-weight: 400 !important;
}
.artistsearchtitle span {
  font-weight: 600;
}
.follow-heart.searchheartactive .img-active {
  display: none;
}
.follow-heart.searchheartactive .img-inactive {
  display: block;
}
form.contact-form-section .first-column {
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}
.fan-about-text p span {
  text-decoration: underline;
}
.join-event a {
  display: flex;
  align-items: center;
}
.login-form-section.forgot-password {
  max-width: 100%;
  width: 500px;
}
.onload-pop .modal-dialog {
  width: auto;
}
.event_list_section_tab.list-myevents .navgatePage.my_event {
  position: absolute;
  top: 40px;
  padding: 0 !important;
}
.event_list_section_tab.list-myevents .nav {
  margin-left: 0;
  margin-top: 10px;
}

/* qa issues  */
.check-box-section.reg-check-box label::before {
  width: 20px;
  height: 20px;
}
.check-box-section.reg-check-box input#cus-box {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  top: 0;
  left: 0;
}
.fav-events.liveevents .today_btn button,
.artist-profile .today_btn button {
  text-transform: uppercase;
}
.fav-events.liveevents .event_card_bottom_right button,
.fav-events.fav-schedule .event_card_bottom_right button {
  font-weight: 600;
}
.fav-events .event_card {
  border: 1px solid #a6c2e9;
}
ul.nav_list li.active a {
  color: #fff !important;
}

.event-details-fan .event_bg.fan-booked .imgsection img {
  object-fit: cover;
  border: 1px solid #a6c2e9;
  border-radius: 15px;
}

.rating-popup .modal-footer {
  padding-left: 0;
}
.event_list_section_tab.list-myevents .nav-pills {
  margin: auto;
}
.upcoming-past .event_card {
  border: 1px solid #a6c2e9;
}
.profile-img-wrapper {
  width: 120px;
  height: 120px;
  margin: auto;
  position: relative;
}
.profile-img-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #081a34;
  border: 1px solid #a6c2e9;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.profile-img-heart img {
  width: 14px;
  height: 13px;
  top: 4px;
  position: relative;
}
.artist-profile .event_card {
  border: 1px solid #a6c2e9;
}

.cancel-booking-detail .event_bg.fan-booked .imgsection img,
.book-event-detail .event_bg.fan-booked .imgsection img {
  border: 1px solid #a6c2e9;
}
.cancel-booking-detail .view-btn button {
  background: #c2285c;
  border: unset;
}
.fav-list-card .artists-detalis p {
  color: #a6c2e9;
}
.per-sec {
  width: 351px;
}
.span-dis {
  color: #a6c2e9;
}
.span-dis-remain {
  margin-top: 10px;
}

.login-form-section.forgot-password .login-btn button a {
  width: 100%;
  display: block;
}
.notification_header p {
  padding: 5px;
}

/* / new qa  / */
.datepicker.dropdown-menu {
  background: #111e35 !important;
}
.date.seach_field input:focus {
  background: #122036 !important;
  box-shadow: unset !important;
  color: #fff !important;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  color: #13233b !important;
}
.date.seach_field input {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-family: "Mont";
  border-radius: 50px !important;
}
.date.seach_field input::placeholder {
  color: #a6c2e9;
  font-weight: 400;
  font-family: "Mont";
}
.seach_field label {
  position: absolute;
  z-index: 4;
  top: 10px;
  left: 20px;
}

/* 20/4  */
.profile-calender {
  display: none;
}
.edit-input-filed .profile-calender {
  display: flex;
}
.edit-input-filed .profile-calender input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 17px;
}
.edit-input-filed .profile-calender input::placeholder {
  font-weight: 300;
  font-family: "Mont";
  font-size: 16px;
}

.Rating_star,
.gender_lisr {
  cursor: pointer;
}

.gender_lisr.active {
    background: #A6C2E9;
    color: #081A34;
}

.Rating_star.active {
    background: #A6C2E9;
    color: #081A34;
}

.Rating_star.active svg path{
    fill:#081A34;
}
